In [1]:
import pandas as pd

In [2]:
df_1 = pd.read_csv("weather_monthly_state_aggregates.csv")
df_1

      State year_month   PRCP    EVAP  TMIN   TMAX
0        AK    1992-05   5.36   44.17 -56.0  233.0
1        AK    1992-06  14.03   39.27 -17.0  322.0
2        AK    1992-07  16.78   30.91  28.0  300.0
3        AK    1992-08  10.46   20.14 -33.0  267.0
4        AK    1992-09  17.25   15.27 -61.0  183.0
...     ...        ...    ...     ...   ...    ...
11770    WY    2021-05   7.75   55.54 -78.0  289.0
11771    WY    2021-06   1.57  100.46  61.0  383.0
11772    WY    2021-07   1.87   78.06  94.0  378.0
11773    WY    2021-08  10.23   65.58  44.0  339.0
11774    WY    2021-09   0.20   59.03 -28.0  333.0

[11775 rows x 6 columns]